params {
    // Input options
    genome                     = "data/*.fna"
    reference                  = "ref/reference.fna"

    outdir                     = 'results'
    publish_dir_mode           = 'copy'
}

profiles {
    singularity {
        singularity.enabled    = true
        singularity.autoMounts = true
    } 
}

process {
    withName: SNIPPY_RUN {
        publishDir = [
            path: { "${params.outdir}/Snippy" },
            mode: params.publish_dir_mode,
        ]
    }
    withName: SNIPPY_CORE {
        publishDir = [
            path: { "${params.outdir}/Snippy" },
            mode: params.publish_dir_mode,
        ]
    }
    withName: SNIPPY_CLEAN {
        publishDir = [
            path: { "${params.outdir}/Snippy" },
            mode: params.publish_dir_mode,
        ]
    }
    withName: GUBBINS {
        publishDir = [
            path: { "${params.outdir}/Gubbins" },
            mode: params.publish_dir_mode,
        ]
    }
    withName: SNP_SITES {
        publishDir = [
            path: { "${params.outdir}/Snippy" },
            mode: params.publish_dir_mode,
        ]
    }
    withName: FASTTREE {
        publishDir = [
            path: { "${params.outdir}/Fasttree" },
            mode: params.publish_dir_mode,
        ]
    }
    withName: GGTREE {
        publishDir = [
            path: { "${params.outdir}/Visualization_ggtree" },
            mode: params.publish_dir_mode,
        ]
    }
}